.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 6px 1%;
}

.left-bar {
  cursor: pointer;
  margin: 0px 10px;
  color: #2f4858;
}

.logo {
  width: 170px;
  cursor: pointer;
}

ul {
  flex: 1;
  list-style-type: none;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  color: #2f4858;
}

ul li:hover {
  color: #053500;
}

.search-box {
  flex: 1;
  margin: 0px 10px;
  display: flex;
  height: 38px;
  align-items: center;
  background: #053500;
  padding: 0px 14px;
  border-radius: 10px;
}

.search-box input {
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  max-width: 300px;
}

.search-box input::placeholder {
  color: #e5e7eb;
}

.search-box img {
  width: 20px;
  cursor: pointer;
}

.user {
  /* margin: 10px; */
  cursor: pointer;
  display: flex;
  height: 38px;
  align-items: center;
  padding: 0px 2px;
  border-radius: 10px;
}

.user :hover {
  color: #053500;
}

.user-icon {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  box-shadow: #053500 0px 0px 0px 1px;
  color: #053500;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  color: #2f4858;
}

#Account {
  font-weight: bold;
}

.cart .cart-icon {
  width: 44px;
  height: 44px;
  cursor: pointer;
  margin-left: 10px;
  color: #053500;
}

.cart {
  /* margin: 10px; */
  cursor: pointer;
  display: flex;
  height: 38px;
  align-items: center;

  border-radius: 10px;
  margin-right: 5px;
}

.cart .cart-count {
  margin-left: -26px;
  margin-bottom: 21px;

  box-shadow: #ffff 0px 0px 0px 2px;
  color: #2f4858;

  display: inline-block;
  width: 27px; /* Increased width */
  height: 27px; /* Increased height */
  line-height: 27px; /* Increased line-height to match height */
  border-radius: 50%;
  background-color: white;

  text-align: center;
  font-size: 26px; /* Increased font size */
  font-weight: bold;
}

.cart .cart-icon :hover {
  color: #2f4858;
}
.cart .cart-count :hover {
  color: #053500;
}
